html {
  background-color: #121212;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background for the app */
  color: #e0e0e0; /* Light text color for readability */
}

.app-header {
  display: flex;
  justify-content: space-between;
  top: 0px;
  position: fixed;
  width: 100vw;
  background-color: #1e88e5; /* Dark blue for the header */
  color: white;
  text-align: left;
  padding-left: 1rem;
  margin: 0px;
  z-index: 1;
}

.logout-btn {
  background-color: #ffffff; /* Red background color */
  color: #1e88e5; /* White text color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Add padding for better spacing */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from text */
  display: inline-block; /* Make the button fit its content */
  font-size: 16px; /* Increase font size */
  margin: 1rem 1rem; /* Add margin for spacing */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.logout-btn:hover {
  background-color: #efefef; /* Darker red when hovered */
}

.logout-btn:active {
  background-color: #efefef; /* Even darker red when clicked */
}

.logout-btn:disabled {
  background-color: #e0e0e0; /* Light grey background for disabled state */
  color: #9e9e9e; /* Darker grey text for disabled state */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}
